//! **************************************************************************
// Written by: Map P.20131013 on Wed Mar 15 10:21:32 2017
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "P144";
PROHIBIT = SITE "P69";
PROHIBIT = SITE "P60";
COMP "clk" LOCATE = SITE "P94" LEVEL 1;
SCHEMATIC END;

